{% extends 'base.html' %}


{% block content %}


  <div class="container rounded bg-white mt-5 mb-5">
   
    <div class="row">
   
        <div class="col-md-8 border-right">

            <div class="container-fluid">
                {% for story in mStory %}
				<div class="col-md-2 col-3 card-st swiper-slide">
					<figure class="card__thumb">
						<img src="{{story.image}}" class="card__image">
						<figcaption class="card__caption">
							<h2 class="card__title">{{story.title}}</h2>
							<p class="card__snippet">{{story.caption}}</p>
							<form action="/reader/{{story.post_id}}" method="POST">
									<button name="read" type="submit" class="read-btn card__button_" value="{{story.post_id}}">Read</button>
							</form>
							
						</figcaption>
						
					</figure>
					<div class="cat-of-story" style="border-radius: 20px; text-align: center; 
				padding: 8px; font-size: 12px; background-color: rgb(221, 223, 223);">{{story.story_category}}</div>
				</div>
				
			{% endfor %}
            </div>
          
            <div class="p-3 py-5">
               
              </div>
           
        </div>
        <!--
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between  experience"><span>Your Stories</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Edit</span></div><br>
                <div class="container-fluid" style="padding: 0px;">
                  <div class="row">
                    {% for story in mStory %}
                    <div class="col">
                      <div class="card" style="width: 5rem;  margin-bottom: 22px;">
                        <img src="{{story.image}}" class="card-img-top" alt="..."
                          style="object-fit: cover;  height:75px; width:100%; ">
                          <div class="card-body" >
                          <h6 class="card-title" style="font-size: 8px;">{{story.title}}</h6>
                          <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" style="height: 15px; width: 15px; font-size: 9px;" 
                            type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                              Option
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                              <li><a><button class="dropdown-item" type="button">View</button></a></li>
                              <li><a href="{{url_for('edit', story_id=story.id)}}"><button class="dropdown-item" type="button">Edit</button></a></li>
                              <li><form method="POST" action="{{url_for('delete', story_id=story.id)}}">
                                <input type="submit" value="Delete" onclick="return('Confirm, Are you sure you want to delete this story?')"
                                 class="btn btn-primary"></input></li>
                            </ul>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>
        -->
    </div>
    
</div>
 {% endblock %}