{% extends 'base.html' %}

{% block styles %}
    {{super()}}
        <link rel="stylesheet" href="{{url_for('../static', filename='style.css')}}">
    {% endblock %}
{% block content %}

<div class="container profile-container">
  <header>
    <i class="fa fa-bars" aria-hidden="true"></i>
  </header>
  <main>
    <div class="row">
      <div class="left col-lg-4">
        <div class="photo-left">
          <img class="photo" src="https://images.pexels.com/photos/1804796/pexels-photo-1804796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
          <div class="active"></div>
        </div>
        <h4 class="name">Jane Doe</h4>
        <p class="info">UI/UX Designer</p>
        <p class="info">jane.doe@gmail.com</p>
        <div class="stats row">
          <div class="stat col-xs-4" style="padding-right: 50px;">
            <p class="number-stat">3,619</p>
            <p class="desc-stat">Followers</p>
          </div>
          <div class="stat col-xs-4">
            <p class="number-stat">42</p>
            <p class="desc-stat">Following</p>
          </div>
          <div class="stat col-xs-4" style="padding-left: 50px;">
            <p class="number-stat">38</p>
            <p class="desc-stat">Uploads</p>
          </div>
        </div>
        <p class="desc">Hi ! My name is Jane Doe. I'm a UI/UX Designer from Paris, in France. I really enjoy photography and mountains.</p>
        <div class="social">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <i class="fa fa-pinterest-square" aria-hidden="true"></i>
          <i class="fa fa-tumblr-square" aria-hidden="true"></i>
        </div>
      </div>
      <div class="right col-lg-8">
        <ul class="nav">
          <li>Gallery</li>
          <li>Collections</li>
          <li>Groups</li>
          <li>About</li>
        </ul>
        <span class="follow">Follow</span>
        <div class="row gallery">
          <div class="col-md-4">
             <img src="https://images.pexels.com/photos/1036371/pexels-photo-1036371.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
          </div>
          <div class="col-md-4">
            <img src="https://images.pexels.com/photos/861034/pexels-photo-861034.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
          </div>
          <div class="col-md-4">
             <img src="https://images.pexels.com/photos/113338/pexels-photo-113338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
          </div>
          <div class="col-md-4">
             <img src="https://images.pexels.com/photos/5049/forest-trees-fog-foggy.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
          </div>
          <div class="col-md-4">
            <img src="https://images.pexels.com/photos/428431/pexels-photo-428431.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
          </div>
          <div class="col-md-4">
            <img src="https://images.pexels.com/photos/50859/pexels-photo-50859.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
          </div>
        </div>
      </div>
  </main>
</div>








  <div class="container rounded bg-white mt-5 mb-5">
   
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              <img class="rounded-circle mt-5" width="150px" src="{{ name.imageUrl }}">
                <span class="font-weight-bold">{{ name.first_name}} {{ name.last_name }}</span>
                <span class="text-black-50">{{name.email}}</span>
                <span> </span>
              </div>
        </div>
        <div class="col-md-5 border-right">
          
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form method="post">
                <div class="row mt-2">
                    <div class="col-md-6"><label for="first_name" class="labels">First Name</label><input name="first_name"  type="text" class="form-control" placeholder="first name" value="{{name.first_name}}"></div>
                    <div class="col-md-6"><label for="last_name" class="labels">Last Name</label><input name="last_name" type="text" class="form-control" value="{{name.last_name}}" placeholder="last name"></div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12"><label for="username" class="labels">Username</label><input name="username" type="text" class="form-control" placeholder="@username" value="{{name.username}}"></div>
                    <div class="col-md-12"><label for="phone" class="labels">Mobile Number</label><input name="phone" type="text" class="form-control" placeholder="enter phone number" value="{{name.phone}}"></div>
                    <div class="col-md-12"><label for="email" class="labels">Email</label><input name="email" type="text" class="form-control" placeholder="enter your email" value="{{name.email}}"></div>
                   
                    
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
              </form>
              </div>
           
        </div>
        <!--
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between  experience"><span>Your Stories</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Edit</span></div><br>
                <div class="container-fluid" style="padding: 0px;">
                  <div class="row">
                    {% for story in mStory %}
                    <div class="col">
                      <div class="card" style="width: 5rem;  margin-bottom: 22px;">
                        <img src="{{story.image}}" class="card-img-top" alt="..."
                          style="object-fit: cover;  height:75px; width:100%; ">
                          <div class="card-body" >
                          <h6 class="card-title" style="font-size: 8px;">{{story.title}}</h6>
                          <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" style="height: 15px; width: 15px; font-size: 9px;" 
                            type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                              Option
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                              <li><a><button class="dropdown-item" type="button">View</button></a></li>
                              <li><a href="{{url_for('edit', story_id=story.id)}}"><button class="dropdown-item" type="button">Edit</button></a></li>
                              <li><form method="POST" action="{{url_for('delete', story_id=story.id)}}">
                                <input type="submit" value="Delete" onclick="return('Confirm, Are you sure you want to delete this story?')"
                                 class="btn btn-primary"></input></li>
                            </ul>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>
        -->
    </div>
    
</div>
 {% endblock %}